
galhutunetwork1/galhutunetwork1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
galhutunetwork1/.vs/galhutunetwork1/v14/.suo
galhutunetwork1/galhutunetwork1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
